.t3-icon-actions{background-image:url('../../typo3/sysext/t3skin/images/sprites/t3skin.gif?1299879804') !important;height:16px;width:16px}
.t3-icon-apps{background-image:url('../../typo3/sysext/t3skin/images/sprites/t3skin.gif?1299879804') !important;height:16px;width:16px}
.t3-icon-mimetypes{background-image:url('../../typo3/sysext/t3skin/images/sprites/t3skin.gif?1299879804') !important;height:16px;width:16px}
.t3-icon-status{background-image:url('../../typo3/sysext/t3skin/images/sprites/t3skin.gif?1299879804') !important;height:16px;width:16px}
