
.fascia{
    background-color: #6A6666;
    width:75%;
    position:absolute;
    left:-15px;
    padding-left:15px;
    box-shadow:5px 2px 0px rgba(95,95,95,0.55) ;
    color: #ffffff !important;
}
.facia h4 h5 h2{
    color: #ffffff !important;
}
.vertical-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
footer p{
    padding-bottom: 5px!important;
}