<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>TGE Telegestione</title> 
<meta name="description" content="Agenzia Web a Lugano, E-Commerce Ticino, Consulenza e Progettazione di siti web Ticino" /> 
<meta name="keywords" content="web agency lugano,web agency ticino,e-commerce ticino,e-commerce lugano,e-commerce mendrisio,siti web ticino,siti web lugano,siti web mendrisio,realizzazione siti web,siti web aziendali,agenzia web ticino,agenzia web lugano" /> 
<meta name="dc.title" content="Agenzia Web a Lugano, E-Commerce Ticino, Consulenza e Progettazione di siti web Ticino" /> 
<meta name="dc.description" content="Agenzia Web a Lugano, E-Commerce Ticino, Consulenza e Progettazione di siti web Ticino" />

<meta http-equiv="Content-Language" content="it-ch"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<meta name="revisit-after" content="7 days" />
<meta name="google-site-verification" content="tKYDdhBOKZ1mbbdRZ34IRXuzqFS28ecr76xUF0viw3I" />
<!-- META IE8 COMPATIBILE -->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/> 


<meta name="robots" content="all,index,follow" />
<link rel="stylesheet" href="Style_interno.css" type="text/css"/>
<!-- STYLE FLASH -->
<link rel="stylesheet" href="StyleFlash.css" type="text/css" />
<!-- MENU -->
<link rel="stylesheet" href="jqueryslidemenu.css" type="text/css"/>
<!-- GALLERY -->
<link rel="stylesheet" href="Gallery.css" type="text/css"/>
<!-- VERTICAL MENU -->
<!--link rel="stylesheet" href="/Style/jqueryslidemenuVert.css" type="text/css"-->
<!-- CSS THICKBOX -->
<!--link rel="stylesheet" href="/Style/thickbox.css" type="text/css" -->
<link rel="shortcut icon" href="/img/base/favicon.ico" type="image/x-icon" /> <!-- icona nel browser -->
<link rel="icon" href="/img/base/favicon.ico" type="image/x-icon" /> <!-- icona nel browser -->

<!-- Menu -->
<!--[if lte IE 7]>
<style type="text/css">
html .jqueryslidemenu{height: 1%;} /*Holly Hack for IE7 and below*/
</style>
<![endif]-->

<!--[if lt IE 7]>
<link rel="stylesheet" href="/Style/StyleIE6.css" type="text/css" />
<![endif]--> 

<script type="text/javascript" src="jquery.min.js"></script>
<!-- Js plugin Flsh -->
<script type="text/javascript" src="jquery.flash.js"></script>
<!-- Js generali -->
<script type="text/javascript" src="general.js"></script>

<!-- Js Gallery -->
<script type="text/javascript" src="Gallery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="Gallery/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="Gallery/jquery.galleryview-1.1.js"></script>
<script type="text/javascript" src="Gallery/jquery.timers-1.1.2.js"></script>

<!-- Js MENU -->
<script type="text/javascript" src="jqueryslidemenu.js"></script>
<!-- Js per thickbox -->
<!--script type="text/javascript" src="/Javascript/thickbox.js"></script-->
<!-- shadowbox-->
<script type="text/javascript" src="shadowbox/shadowbox-base.js"></script>

<script type="text/javascript" src="shadowbox/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.loadSkin('classic', 'shadowbox/skin');
Shadowbox.loadLanguage('it', 'shadowbox/lang');
Shadowbox.loadPlayer(['flv', 'html', 'iframe', 'img', 'qt', 'swf', 'wmp'], 'shadowbox/player');
window.onload = function(){
    Shadowbox.init();
};
</script>

<script type="text/javascript">
	$(document).ready(function(){		
		
		$("#photos").css("display", "block");
		
		$('#photos').galleryView({
			panel_width: 280,
			panel_height: 120,
			transition_speed: 1500,
			transition_interval: 4000,
			nav_theme: 'light',
			border: 'none',
			pause_on_hover: true
		});
	});
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22812822-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<!-- ###DOCUMENT_BODY### start -->
	<div id="Conteiner">	

		<div id="Home">

		<div id="HeaderLogo">
			<div id="Logo">
				<a href="/manutank/" title="Manutank">
					<img src="/fileadmin/templates/manutank/img/LogoManutank.jpg" alt="Manutank" width="229" height="113" />
				</a>
			</div>
		</div>	

		<div id="Header">
			<div id="HeaderImgNew">	
			<div id="HeaderBG"></div>	
				<!-- ###TESTATA### start -->	
				<img src = "/fileadmin/templates/telegestione/img/TestataTGE2.jpg"  width="950" height="270" />	
				<!-- ###TESTATA### stop -->
			</div>
			
			<!--div id="HeaderText">
				
			</div>
			<div style="clear:both"></div-->					
		</div>

		<div id="myslidemenu" class="jqueryslidemenu" style="position:relative; z-index:100">
			<!-- ###MENU### start -->	
				<ul>																										
					<li class="first">
						<a href="" style = " color:#FFF">HOME</a>
					</li>	
					<li>
						<a href="" style = " color:#FFF">AZIENDA</a>
					</li>
					<li>
						<a href="" style = " color:#FFF">SERVIZI</a>
							<ul style="top: 30px; visibility: visible; margin:0; display: none;"><li></li>
								<a href="">Telegestione</a>

								<a href="">Teleallarme</a>

								<a href="">Warm Control</a>

								<a href="">Assistenza</a>
							</ul>																					
					</li>
					<li>
						<a href="" style = " color:#FFF">VANTAGGI</a>
							<ul style="top: 30px; visibility: visible; margin:0; display: none;"><li></li>
								<a href="">Risparmio Economico</a>

								<a href="">Salvaguardia dell’ambiente</a>

								<a href="">Comfort</a>

								<a href="">Sgravio delle responsabilitá</a>
							</ul>	
					</li>
					<li>
						<a href="" style = " color:#FFF">REFERENZE</a>
						<ul><li></li></ul>
					</li>
					<li class="last">
						<a href="" style = " color:#FFF">CONTATTI</a>
						<ul><li></li></ul>
					</li>																											
				</ul>
			<!-- ###MENU### stop -->		
		</div>

<div id = "Content">
	
	<div id="ContentIntRef">
<!-- ###CONTENTLEFTINT### start -->
fff
<!-- ###CONTENTLEFTINT### stop -->
	</div>	



	<div id="ContentRight">
		<div class="BoxHomeLungo">
			<div id="Vantaggi"><h2>Le Nostre Offerte</h2></div>		
			<div id="FasciaVantaggi"></div>
							
		<!-- ###CONTENTBORDER### start -->
			
			<div class="BoxVantaggi">
				<div class="BoxIconaVantaggi">
					<a href="" title="">
						<img src="/fileadmin/templates/telegestione/img/IconaVantaggi1.jpg" alt="BoxHomeImg" width="100" height="85" />
					</a>
				</div>
				<div class="BoxTestoVantaggi">
					<h5>Economici</h5>					
					Risparmio fino al 20% della spesa energetica
				</div>
				<div class="BGBoxVantaggi">
					<a href="" title="Box Home 1">
						<img src="/fileadmin/templates/telegestione/img/base/clear.gif" alt="" width="276" height="86" />
					</a>
				</div>					
			</div>
			<div class="BoxVantaggi">
				<div class="BoxIconaVantaggi">
					<a href="" title="">
						<img src="/fileadmin/templates/telegestione/img/IconaVantaggi2.jpg" alt="BoxHomeImg" width="100" height="85" />
					</a>
				</div>
				<div class="BoxTestoVantaggi">
					<h5>Ecologici</h5>					
					Minor consumo di energia
				</div>
				<div class="BGBoxVantaggi">
					<a href="" title="Box Home 1">
						<img src="/fileadmin/templates/telegestione/img/base/clear.gif" alt="" width="276" height="86" />
					</a>
				</div>					
			</div>
			<div class="BoxVantaggi">
				<div class="BoxIconaVantaggi">
					<a href="" title="">
						<img src="/fileadmin/templates/telegestione/img/IconaVantaggi3.jpg" alt="BoxHomeImg" width="100" height="85" />
					</a>
				</div>
				<div class="BoxTestoVantaggi">
					<h5>Comfort</h5>					
					Rileviamo i guasti in tempo reale
				</div>
				<div class="BGBoxVantaggi">
					<a href="" title="Box Home 1">
						<img src="/fileadmin/templates/telegestione/img/base/clear.gif" alt="" width="276" height="86"" />
					</a>
				</div>					
			</div>
			<div class="BoxVantaggi">
				<div class="BoxIconaVantaggi">
					<a href="" title="">
						<img src="/fileadmin/templates/telegestione/img/IconaVantaggi4.jpg" alt="BoxHomeImg" width="100" height="85" />
					</a>
				</div>
				<div class="BoxTestoVantaggi">
					<h5>Sgravio di responsabilità</h5>					
					Gestione completa di tutte le problematiche di...
				</div>
				<div class="BGBoxVantaggi">
					<a href="" title="Box Home 1">
						<img src="/fileadmin/templates/telegestione/img/base/clear.gif" alt="" width="276" height="86" />
					</a>
				</div>					
			</div>
			
		<!-- ###CONTENTBORDER### stop -->	
			
		</div>		
	</div>	

	<div style="clear:both"></div>

</div>
	
<div id="FooterUp">
			
			<div id="BGFooter"></div>
			
			<div style="width:620px; float:left">
			
			<!-- ###FOOTERLIST### start -->
				
			<div class="FooterColumn1">
				
					<div style="padding-bottom:10px;"><span>Telegestione</span></div>				
					<div class="FooterItem"><a href="" title="">Home</a></div>			
					<div class="FooterItem"><a href="" title="">Azienda</a></div>
					<div class="FooterItem"><a href="" title="">Referenze</a></div>			
					<div class="FooterItem"><a href="" title="">Contatti</a></div>	
									
			</div>
			
			<div class="FooterColumn2">
				
					<div style="padding:0 0 10px 0;"><span>Servizi</span></div>				
					<div class="FooterItem"><a href="" title="">Telegestione</a></div>			
					<div class="FooterItem"><a href="" title="">Teleallarme</a></div>			
					<div class="FooterItem"><a href="" title="">Employer</a></div>			
					<div class="FooterItem"><a href="" title="">Warm control</a></div>		
					<div class="FooterItem"><a href="" title="">Assistenza</a></div>
					
			</div>
			
			<div class="FooterColumn3">
				
					<div style="padding-bottom:10px;"><span>Vantaggi</span></div>				
					<div class="FooterItem"><a href="" title="">Risparmio economico</a></div>			
					<div class="FooterItem"><a href="" title="">Salvaguardia dell' ambiente</a></div>			
					<div class="FooterItem"><a href="" title="">Comfort</a></div>			
					<div class="FooterItem"><a href="" title="">Sgravio delle responsabilit&agrave;</a></div>
					
			</div>			
			
			<div style="clear:both"></div>		
		
			<!-- ###FOOTERLIST### stop -->

			</div>
			
			<div style="width:265px; padding:2px 0 0 25px; float:left">
			
			<!-- ###LOGHI### start -->
			
				<div id="Telegestione">
					<a href="/telegestione/" title="Telegestione">
						<img src="/fileadmin/templates/telegestione/img/base/clear.gif" width="110" height="110" alt="Telegestione" />
					</a>
				</div>
				
				<div id="Teleenergia">
					<a href="/" title="Teleenergia">
						<img src="/fileadmin/templates/telegestione/img/base/clear.gif" width="110" height="110" alt="Teleenergia" />
					</a>
				</div>
				
				<div style="clear:both"></div>
				
			<!-- ###LOGHI### stop -->						
			
			</div>
			
			<div style="clear:both"></div>

</div>

	<div id = "Footer" class = "BordoTop">
	<!-- ###FOOTER### start -->
	<a href="#" title = "SeaService" target="_blank">TGE Telegestione </a> 2011&nbsp-&nbspConcept by Svega&nbsp;<a href="/Privacy/?IDP=1" rel = "nofollow" target="_self">Legal Disclaimer</a> | <a href="/Privacy/?IDP=2" rel = "nofollow" target="_self">Privacy policy</a>
	<!-- ###FOOTER### stop -->
	</div>	
		


	</div>	

	</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27687207-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>		
<!-- ###DOCUMENT_BODY### stop -->
</body>
</html>
