<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>TGE Teleenergia</title> 
<meta name="description" content="Agenzia Web a Lugano, E-Commerce Ticino, Consulenza e Progettazione di siti web Ticino" /> 
<meta name="keywords" content="web agency lugano,web agency ticino,e-commerce ticino,e-commerce lugano,e-commerce mendrisio,siti web ticino,siti web lugano,siti web mendrisio,realizzazione siti web,siti web aziendali,agenzia web ticino,agenzia web lugano" /> 
<meta name="dc.title" content="Agenzia Web a Lugano, E-Commerce Ticino, Consulenza e Progettazione di siti web Ticino" /> 
<meta name="dc.description" content="Agenzia Web a Lugano, E-Commerce Ticino, Consulenza e Progettazione di siti web Ticino" />

<meta http-equiv="Content-Language" content="it-ch"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<meta name="revisit-after" content="7 days" />
<meta name="google-site-verification" content="tKYDdhBOKZ1mbbdRZ34IRXuzqFS28ecr76xUF0viw3I" />
<!-- META IE8 COMPATIBILE -->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/> 


<meta name="robots" content="all,index,follow" />
<link rel="stylesheet" href="Style_interno.css" type="text/css"/>
<!-- STYLE FLASH -->
<link rel="stylesheet" href="StyleFlash.css" type="text/css" />
<!-- MENU -->
<link rel="stylesheet" href="jqueryslidemenu.css" type="text/css"/>
<!-- GALLERY -->
<link rel="stylesheet" href="Gallery.css" type="text/css"/>
<!-- VERTICAL MENU -->
<!--link rel="stylesheet" href="/Style/jqueryslidemenuVert.css" type="text/css"-->
<!-- CSS THICKBOX -->
<!--link rel="stylesheet" href="/Style/thickbox.css" type="text/css" -->
<link rel="shortcut icon" href="/img/base/favicon.ico" type="image/x-icon" /> <!-- icona nel browser -->
<link rel="icon" href="/img/base/favicon.ico" type="image/x-icon" /> <!-- icona nel browser -->

<!-- Menu -->
<!--[if lte IE 7]>
<style type="text/css">
html .jqueryslidemenu{height: 1%;} /*Holly Hack for IE7 and below*/
</style>
<![endif]-->

<!--[if lt IE 7]>
<link rel="stylesheet" href="/Style/StyleIE6.css" type="text/css" />
<![endif]--> 

<script type="text/javascript" src="jquery.min.js"></script>
<!-- Js plugin Flsh -->
<script type="text/javascript" src="jquery.flash.js"></script>
<!-- Js generali -->
<script type="text/javascript" src="general.js"></script>

</head>

<body>
<!-- ###DOCUMENT_BODY### start -->
<div id="Conteiner">	

<div id="casa"></div>

		<div id="Home">


			<div id = "Content">
			<div style="width:/*400px*/150px; height:200px; padding-top:263px; float:left">
				<img src="/fileadmin/templates/splash/img/clear.gif" width="400" height="263" />
			</div>
			<div style="width:470px; height:255px; padding-top:191px; float:left">
<!-- ###CONTENTLEFTINT### start -->
			
			<div id="TeleenergiaLogo">
				<a href="/" title="Teleenergia">
					<img src="/fileadmin/templates/splash/img/clear.gif" width="200" height="200" alt="Teleenergia" />
				</a>
			</div>
			
			<div id="TelegestioneBox">

			</div>			

			<div id="TelegestioneLogo">
				<a href="/telegestione/" title="Telegestione">
					<img src="/fileadmin/templates/splash/img/clear.gif" width="200" height="200" alt="Telegestione" />
				</a>
			</div>
			
			<div style="clear:both"></div>	
			
			<div id="ManutankBox">

			</div>			

			<div id="ManutankBox">

			</div>	

			<div id="ManutankLogo">
				<a href="/manutank/" title="Manutank">
					<img src="/fileadmin/templates/splash/img/clear.gif" width="200" height="200" alt="Manutank" />
				</a>
			</div>
			
			<div style="clear:both"></div>
			
<!-- ###CONTENTLEFTINT### stop -->							
			</div>
			<div style="clear:both"></div>
			
			<!--div style="width:920px; height:172px; position:absolute; top:455px; right:0; background:URL(/fileadmin/templates/splash/img/Frase.png)"></div-->
			
			</div>


		</div>	

	<div id = "Footer" class = "BordoTop">
	<!-- ###FOOTER_SPLASH### start -->
	<a href="#" title = "SeaService" target="_blank">TGE Telegestione </a> 2011&nbsp-&nbspConcept by Svega&nbsp;<a href="/Privacy/?IDP=1" rel = "nofollow" target="_self">Legal Disclaimer</a> | <a href="/Privacy/?IDP=2" rel = "nofollow" target="_self">Privacy policy</a>
	<!-- ###FOOTER_SPLASH### stop -->
	</div>	

</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27687207-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>		
<!-- ###DOCUMENT_BODY### stop -->
</body>
</html>
